In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
# load the model , encoder and the one hot encoder
model = load_model('model.h5')

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder = pickle.load(file)
with open('ohe_encoder_geo.pkl','rb') as file:
    ohe = pickle.load(file)
with open('standardScaler.pkl','rb') as file:
    standardScaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [4]:
df = pd.DataFrame([input_data])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [5]:
geo_encoded = ohe.transform(df[['Geography']]).toarray()
geo_encode_df = pd.DataFrame(geo_encoded,columns=ohe.get_feature_names_out(['Geography']))

In [6]:
df = pd.concat([df.drop('Geography',axis=1),geo_encode_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [7]:
df['Gender'] = label_encoder.transform(df['Gender'])
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [8]:
input_scaled = standardScaler.transform(df)

In [9]:
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step

array([[0.0362596]], dtype=float32)